# Dependências
node_modules/

# Variáveis de ambiente
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema
.DS_Store
Thumbs.db

# Build / dist (se usar futuramente)
dist/
build/

# IDEs e editores
.vscode/
.idea/
